[submodule "06-using-environment-variables-and-secrets"]
	path = 06-using-environment-variables-and-secrets
	url = https://github.com/paul-gilber/training-github-actions-06-using-environment-variables-and-secrets.git
