[submodule "06-using-environment-variables-and-secrets"]
	path = 06-using-environment-variables-and-secrets
	url = https://github.com/paul-gilber/training-github-actions-06-using-environment-variables-and-secrets.git
[submodule "07-controlling-workflow-and-job-execution"]
	path = 07-controlling-workflow-and-job-execution
	url = https://github.com/paul-gilber/training-github-actions-07-controlling-workflow-and-job-execution.git
[submodule "04-practice-project"]
	path = 04-practice-project
	url = https://github.com/paul-gilber/training-github-actions-04-practice-project.git
[submodule "02-second-action"]
	path = 02-second-action
	url = https://github.com/paul-gilber/training-github-actions-02-second-action.git
[submodule "01-first-action"]
	path = 01-first-action
	url = https://github.com/paul-gilber/training-github-actions-01-first-action.git
